body {
  background-color: cornsilk;
}

h1 {
  padding: 35px;
  text-align: center;
  background-color: brown;
  font-size: 50px;
}

h2, h3, h4 {
  text-align: center;
}

p {
  max-width: 60%; /* paragraph never gets wider than 60% of the screen */
margin: 0 auto; /* centers it horizontally */
}
